html,
body,
.tooltip,
.popover{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.invisible_by_default
{
visibility: hidden;
}

.invisible_by_default.visible_if
{
visibility: visible;
}

.size_lte_lg .show_only_gte_xl,
.size_lte_md .show_only_gte_lg,
.size_lte_sm .show_only_gte_md,
.size_lte_xs .show_only_gte_sm
{
display: none;
}

label
{
font-size: 13px;
}

.logo_image
{
max-width: 135px;
}

.size_gte_sm .logo_image
{
max-width: 230px;
}

.size_lte_sm .chart_sidebar
{
column-count: 2;
}

.size_md .chart_sidebar
{
column-count: 4;
}

.anychart_map_outer
{
position: relative;
padding-bottom: 60%;
overflow: hidden;
}

.size_lte_sm .anychart_map_outer
{
padding-bottom: 75%;
}

.anychart_map_div
{
top: 0px;
left: 0px;
width: 100%;
height: 100%;
position: absolute;
}

.chart_outer
{
position: relative;
padding-bottom: 75%;
overflow: hidden;
}

.size_lte_sm .chart_outer
{
padding-bottom: 150%;
}

.chart_div
{
top: 0px;
left: 0px;
width: 100%;
height: 100%;
position: absolute;
}

.map_slider
{
    height: 100px;
    padding: 0px 28px;
}

.bg-dark
{
background-color: #636363!important;
background: linear-gradient(90deg, #1a0f49 0px, #1a0f49 240px, #444444);
}

body .anychart-credits
{
    display: none!important;
}

body .vue-slider
{
    height: 8px!important;
    cursor: pointer;
}

body .vue-slider-ltr .vue-slider-mark-label
{
    display: inline-block;
    -ms-transform: translateX(-88%) translateY(7px) rotate(300deg);
    transform: translateX(-75%) translateY(12px) rotate(300deg);
    -color: red!important;
    font-size: 12px;
}

.google_chart_type_global_map_plain_slider
{
    height: 80px!important;
    margin-left: 40px;
}

.info_div
{
    font-size: 12px;
    color: #999999;
    text-align: right;
    padding-right: 12px;
    line-height: 23px;
    padding-bottom: 3px;
}

.chart_type_anychart_map_choropleth .info_div
{
padding-right: 16px;
}

.info_div A.link,
.info_div A.link:visited
{
    color: #999999;
    text-decoration: underline;
    -color: #888888;
}

.info_div A.link:hover
{
    color: #666666;
    text-decoration: underline;
}

.text_decoration_hover
{
    text-decoration: none!important;
}

.text_decoration_hover:hover
{
    text-decoration: underline!important;
}

.display_none
{
    display: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child),
.h1:not(:first-child), .h2:not(:first-child), .h3:not(:first-child), .h4:not(:first-child), .h5:not(:first-child), .h6:not(:first-child) {
    border-top: 1px solid #eeeeee;
}

.page_charts > div:first-child > h4:first-child
{
margin-top: 20px;
}

.image_generating .hide_for_image
{
display: none;
}

body .google-visualization-tooltip
{
background-color: rgba(255,255,255,0.85);
/*margin-left: -195px;
margin-top: -5px;*/

    box-shadow: none;
    font-size: 12px;
    padding: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    z-index: 100000;
}

body .google-visualization-tooltip-item-list
{
}

.size_lte_sm .summary_container
{
padding-right: 0px;
display: flex;
flex-direction: row;
}

.size_lte_sm .summary_row
{
flex-direction: column;
margin-left: 0.5rem;
margin-right: 0.5rem;
}

.summary_col
{
margin: 0px 10px;
border-radius: 4px;
padding: 8px;
}

.size_lte_sm .summary_col
{
margin: 4px 10px;
}

.summary_col:last-child
{
margin-right: 0px;
}

.summary_col_label
{

}

.summary_col_label header
{
display: none;
}

.summary_row_total .summary_col_number small
{
    display: block;
    font-size: 60%;
    font-weight: 400;
    line-height: 1.25;
}

.size_lte_md .summary_col_label
{

}

.size_lte_md .summary_col_label header
{
display: block;
visibility: hidden;
font-size: 7px;
}

.summary_col_number
{
font-size: 2em;
    font-weight: 700;
}

#page_chart_container_summary_table
{
max-width: 730px;
}

.chart_container
{
padding-right: 10.5px;
padding-bottom: 10px;
}

.topnav-link
{
color: #dddddd;
}
.topnav-link:hover
{
color: #eeeeee;
}

body #layoutSidenav #layoutSidenav_content
{
top: 0px;
}

.chart_sidebar
{

}

.chart_sidebar_checkbox_row
{

}

.chart_sidebar_checkbox_cell_checkbox
{

}

.chart_sidebar_checkbox_cell_checkbox
{

}

.overlay_legend_container
{
    position: absolute;
    top: 13%;
    padding: 12px;
    background-color: rgba(255,255,255,0.7);
}

.overlay_legend_container label
{
font-size: 11px;
}

.chart_slider
{
height: 100px;
padding: 0px 10px;
}

.text_block
{
padding-left: 20px;
}

.btn.toggle-handle
{
background-color: white;
}

.chart_container_type_google_line_region .overlay_legend_container
{
top: 10%;
right: 45%;
}

.chart_container_type_google_line_region .overlay_legend_container .form-row
{
    display: inline-block;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 4px;
    margin-bottom: 2px!important;
}

.chart_container_type_google_line_region .overlay_legend_container .form-row > .col
{
    padding-right: 0px;
    padding-left: 0px;
}

a
{
color: #0063cc;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle
{
background-color: #0063cc;
border-color: #0063cc;
}

.btn-outline-primary
{
color: #0063cc;
border-color: #0063cc;
}

.btn-outline-primary:hover
{
color: #ffffff;
background-color: #0063cc;
border-color: #0063cc;
}

.nav-link-number {
    opacity: 0.7;
    font-size: 80%;
    float: right;
}

.regions_of_countries span:first-child
{
display: none; /*the first comma*/
}

.btn-xs
{
padding: 0.125rem 0.5rem;
font-size: 12px;
line-height: 1.5;
border-radius: 0.2rem;
}

A.black
{
color: #212529!important;
text-decoration: none!important;
}

.datatable td.numeric
{
text-align: right;
}

body .datatable tbody td.border-right
{
    border-right: 1px solid rgba(0, 0, 0, 0.06)!important;
}

body .datatable th,
body .datatable td
{
    vertical-align: middle;
}

body .datatable .table-bordered th,
body .datatable .table-bordered td
{
    border: 1px solid rgba(0, 0, 0, 0.03)!important;
}

body .table-striped tbody tr:nth-of-type(odd)
{
    background-color: rgba(0, 0, 0, 0.03)
}

body .table-striped tbody tr:nth-of-type(odd).table-active
{
    background-color: rgba(250,250,0,.2);
}

body .table-striped tbody tr:nth-of-type(odd).table-active td.selected
{
    background-color: rgba(255,150,0,.1);
}

/*body .table-striped tbody tr:nth-of-type(odd) td*/
/*{*/
/*    background-color: rgba(0, 0, 0, 0.02)!important*/
/*}*/

body .table-hover tbody tr:hover
{
    background-color: rgba(0, 0, 0, 0.06)!important
}

.datatable
{
font-size: 12px;
}

.datatable th
{
font-size: 10px;
font-weight: 500;
letter-spacing: -0.5px;
}

.datatable .table-total
{
background-color: rgba(0,0,0,0.12);
}

.datatable .td-total
{
background-color: rgba(0,0,0,0.03);
}

.datatable .td-total.selected
{
-background-color: rgba(0,0,0,0.09);
background-color: rgba(250,250,0,.15);
}

.datatable .table-daily
{
background-color: rgba(0,0,0,0.06);
}

.datatable .td-daily
{
    background-color: rgba(0,0,0,0);
}

.datatable .td-daily.selected
{
    -background-color: rgba(0,0,0,0.6);
    background-color: rgba(250,250,0,.15);
}

.datatable .table-rates
{
background-color: rgba(0,0,0,0.12);
}

.datatable .td-rates
{
    background-color: rgba(0,0,0,0.03);
}

.datatable .td-rates.selected
{
    -background-color: rgba(0,0,0,0.09);
    background-color: rgba(250,250,0,.15);
}

.table.b-table>tbody>.table-active, .table.b-table>tbody>.table-active>td, .table.b-table>tbody>.table-active>th
{
background-color: transparent;
}

body .table.b-table>tbody>.table-active
{
background-color: rgba(250,250,100,.2);
}

body .table.b-table>tbody>.table-active td.selected
{
background-color: rgba(255,150,0,.085);
}

.datatable tr:focus
{
outline: none;
}

.image_generating
{
}

.image_generating .table.b-table.table-sm>tfoot>tr>[aria-sort]:not(.b-table-sort-icon-left),
.image_generating .table.b-table.table-sm>thead>tr>[aria-sort]:not(.b-table-sort-icon-left)
{
background-position: right 4px center;
background-image: none;
}

.datatable_small_title {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
}

body .chart_format_dropdown > .btn-sm
{
    line-height: 1.75;
}